# Android build outputs
/app/build/

app/build/




# IntelliJ/AndroidStudio
*.iml
.gradle/
/local.properties
gradle/
/gradle/

# Direto para assets grandes que não precisam estar no repo
**/*.jar
**/*.aar
**/*.zip
**/*.apk
