# Android Studio
*.iml
.gradle/
local.properties
/gradle/
**/*.jar
**/*.aar
**/*.zip
**/*.apk

# Build output
/app/build/

# Prompts (seus arquivos customizados)
#/app/src/main/java/com/carlex/euia/prompts/

# Google Services (arquivos de configuração sensíveis)
/app/google-services.json
/app/src/debug/google-services.json
/app/src/release/google-services.json